/* PSEUDOCLASE */
/* Línea animada que aparece cuando el mouse está sobre el enlace */
.main-nav a::after {
    content: ''; /* Necesario para mostrar el pseudo-elemento */
    position: absolute; /* Posiciona la línea */
    bottom: 0; /* Alinea la línea en la parte inferior del enlace */
    left: 50%; /* Comienza en el centro horizontal del enlace */
    width: 0; /* Ancho inicial de la línea (0 para empezar desde el centro) */
    height: 2px; /* Grosor de la línea */
    background-color: $line-color; /* Color de la línea */
    transition: width 0.3s ease, left 0.3s ease; /* Animaciones para el ancho y la posición */
  }
  
  /* Color y línea del enlace al hacer hover o focus */
  .main-nav a:hover::after,
  .main-nav a:focus::after {
    color: $line-color; /* Cambia el color del texto al pasar el mouse */
    width: 100%; /* Expande la línea para ocupar todo el ancho del enlace */
    left: 0; /* Alinea la línea a la izquierda del enlace */
  }
  
  /* Clase activa para el enlace seleccionado */
  .main-nav a.active {
    color: $line-color; /* Color del texto para el enlace activo */
    border-bottom: 2px solid $line-color; /* Línea debajo del enlace activo */
  }
  
  /* Estilos para el menú desplegado en dispositivos pequeños */
  .navbar .main_nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: $background-color;
  }
  
  .navbar .main_nav.active {
    display: flex;
  }
  
  .navbar .main_nav li {
    margin: $gap-medium; /* Espaciado entre los elementos de la lista */
    padding: $padding-small $padding-medium; /* Relleno de los elementos de la lista */
    text-align: center;
  }
  
  .navbar .main_nav a {
    color: $color-text; /* Color del texto del enlace en el menú desplegado */
  }
  
  