// Variables de Colores
$color-primary: #e38a36;
$color-text: #FFF;
$background-color:  #1f1f1f;
$line-color: #d78202;

// Variables de Tipografías
$font-family-primary: 'Montserrat', sans-serif;
$font-weight-bold: 600;
$font-size-large: 25px;
$font-size-medium: 20px;
$font-size-small: 15px;
$font-size-xsmall: 14px;
$font-size-xxsmall: 13px;
$font-size-xxxsmall: 12px;

// Variables de Espaciado
$padding-large: 600px;
$padding-medium: 40px;
$padding-small: 15px;
$gap-medium: 20px;
$gap-small: 15px;
